In [1]:
import os
import import_ipynb
import Connections as conn
import cx_Oracle
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import time
import datetime

importing Jupyter notebook from Connections.ipynb

### Read CSV data from Cricsheet downloads and load into Oracle table

In [18]:
psl_matches_df = pd.read_csv(r'C:/Users/ninju/OneDrive/Desktop/Cricket_Analysis/Cricsheet data/Downloads/psl_csv2/all_matches.csv')
psl_matches_df = psl_matches_df.where(pd.notnull(psl_matches_df), None)
psl_matches_df['start_date'] = pd.to_datetime(psl_matches_df.start_date)
psl_matches_df['start_date'] = psl_matches_df['start_date'].dt.strftime('%d-%b-%Y')
connstr = conn.conn_string()
connection = cx_Oracle.connect(connstr)
cursor = connection.cursor()
rows = [tuple(x) for x in psl_matches_df.values]
print('Insertion into Oracle begins')
sql_qry = ("INSERT INTO TEMP_TGT_DBO.PSL_DATA (MATCH_ID,SEASON,START_DATE,VENUE,INNINGS,BALL,BATTING_TEAM,BOWLING_TEAM,"
           "STRIKER,NON_STRIKER,BOWLER,RUNS_OFF_BAT,EXTRAS,WIDES,NOBALLS,BYES,LEGBYES,PENALTY,WICKET_TYPE,PLAYER_DISMISSED,"
           "OTHER_WICKET_TYPE,OTHER_PLAYER_DISMISSED)" 
           "VALUES (:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11,:12,:13,:14,:15,:16,:17,:18,:19,:20,:21,:22)")
cursor.executemany(sql_qry,rows)
connection.commit()
print('Insertion into Oracle ends successfully')
cursor.close()
connection.close()

Insertion into Oracle begins
Insertion into Oracle ends successfully