In [ ]:
# DB instance ID - t20-cricket-data
# username - admin_vcs
# password - t20_admin_batch
# port - 1521
# host - t20-cricket-data.ccpji1c9vx0g.ap-south-1.rds.amazonaws.com
# DB_name - T20DATA

In [8]:
!pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.1.0-cp37-cp37m-win_amd64.whl (210 kB)
Installing collected packages: cx-Oracle
Successfully installed cx-Oracle-8.1.0

In [2]:
import cx_Oracle

### Reading data from table

In [3]:
connstr = "cric_batch_user/cric_b@tch_pwd@localhost:1521/cricketdatapdb"
connection = cx_Oracle.connect(connstr)
cursor = connection.cursor()
cursor.execute("select * from test_schema.test_table")
result = cursor.fetchall()
for row in result:
    print(row)
cursor.close()
connection.close()

(1, 'jayashree')
(2, 'chandrasekar')

### Writing data into table

In [4]:
connection = cx_Oracle.connect(connstr)
cursor = connection.cursor()
cursor.execute("insert into test_schema.test_table select 3,'Prakash' from dual")
connection.commit()
cursor.close()
connection.close()